USE [PowerPMS]
GO
/****** Object:  Table [dbo].[PS_CC_CbsSheetConfig]    Script Date: 2017/10/24 15:51:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PS_CC_CbsSheetConfig](
	[Id] [uniqueidentifier] NOT NULL,
	[Sequ] [int] NULL,
	[CbsClass] [nvarchar](50) NULL,
	[CbsTitle] [nvarchar](50) NULL,
	[CbsType] [nvarchar](30) NULL,
	[LinkRec] [nvarchar](50) NULL,
	[KeyWord] [nvarchar](50) NULL,
	[KeyWordFilter] [nvarchar](500) NULL,
	[UpdHumId] [uniqueidentifier] NULL,
	[UpdHumName] [nvarchar](80) NULL,
	[UpdDate] [datetime] NULL,
	[RegDate] [datetime] NULL,
	[RegHumName] [nvarchar](80) NULL,
	[RegHumId] [uniqueidentifier] NULL,
	[OwnProjName] [nvarchar](255) NULL,
	[OwnProjId] [uniqueidentifier] NULL,
	[EpsProjId] [uniqueidentifier] NULL,
	[ApprHumId] [uniqueidentifier] NULL,
	[ApprHumName] [nvarchar](80) NULL,
	[ApprDate] [datetime] NULL,
	[Status] [tinyint] NULL,
	[Memo] [nvarchar](1000) NULL,
	[oldId] [uniqueidentifier] NULL,
	[CalColumn] [nvarchar](500) NULL,
	[IsSysDefault] [nchar](10) NULL,
 CONSTRAINT [PK_PS_CC_CbsSheet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PS_CC_CbsSheetConfig', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'序号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PS_CC_CbsSheetConfig', @level2type=N'COLUMN',@level2name=N'Sequ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组（第一层）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PS_CC_CbsSheetConfig', @level2type=N'COLUMN',@level2name=N'CbsClass'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'列头' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PS_CC_CbsSheetConfig', @level2type=N'COLUMN',@level2name=N'CbsTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'关联业务表单' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PS_CC_CbsSheetConfig', @level2type=N'COLUMN',@level2name=N'LinkRec'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'对应KeyWord' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PS_CC_CbsSheetConfig', @level2type=N'COLUMN',@level2name=N'KeyWord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'KeyWord过滤' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PS_CC_CbsSheetConfig', @level2type=N'COLUMN',@level2name=N'KeyWordFilter'
GO
