USE [PowerPMS]
GO
/****** Object:  Table [dbo].[PB_BaseDataList]    Script Date: 2017-10-18 16:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PB_BaseDataList](
	[Id] [uniqueidentifier] NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[BaseDataId] [uniqueidentifier] NULL,
	[Code] [varchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Actived] [tinyint] NULL,
	[UpdDate] [datetime] NULL,
	[OtherInfo] [varchar](100) NULL,
	[Sequ] [int] NULL,
	[bSysDefault] [varchar](1) NOT NULL,
	[SourceBaseDataId] [uniqueidentifier] NULL,
	[LongCode] [nvarchar](1000) NULL,
 CONSTRAINT [PK_PB_BaseDataList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PB_BaseDataList] ([Id], [ParentId], [BaseDataId], [Code], [Name], [Actived], [UpdDate], [OtherInfo], [Sequ], [bSysDefault], [SourceBaseDataId], [LongCode]) VALUES (N'2d9fcf4b-140d-43f5-812e-0063aa8e4e3a', N'65719274-7048-421d-bdb6-cba76400f424', N'ca5de4ba-2b31-49f6-bab5-73889f9d4c4f', N'951', N'银川市', 1, CAST(N'2014-11-06 10:01:37.000' AS DateTime), N'Ctiy', 40, N'Y', NULL, NULL)
INSERT [dbo].[PB_BaseDataList] ([Id], [ParentId], [BaseDataId], [Code], [Name], [Actived], [UpdDate], [OtherInfo], [Sequ], [bSysDefault], [SourceBaseDataId], [LongCode]) VALUES (N'd98f9ec2-7f36-98e1-59ad-0065e2120fd7', NULL, N'7759be18-c447-466c-a268-2eeafe202657', N'04', N'建筑', 1, CAST(N'2016-03-21 11:42:09.000' AS DateTime), NULL, 126, N'N', NULL, N'4')
INSERT [dbo].[PB_BaseDataList] ([Id], [ParentId], [BaseDataId], [Code], [Name], [Actived], [UpdDate], [OtherInfo], [Sequ], [bSysDefault], [SourceBaseDataId], [LongCode]) VALUES (N'512b8062-bc27-4eb1-80e9-007726747527', NULL, N'18c34e6a-b908-41bf-ad0b-d704dd0e2c7b', N'cm', N'厘米', 1, CAST(N'2014-11-06 10:01:39.000' AS DateTime), N'Length', 11, N'Y', NULL, NULL)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基础数据类型Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PB_BaseDataList', @level2type=N'COLUMN',@level2name=N'BaseDataId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基础数据编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PB_BaseDataList', @level2type=N'COLUMN',@level2name=N'Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基础数据名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PB_BaseDataList', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'启用1，禁用0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PB_BaseDataList', @level2type=N'COLUMN',@level2name=N'Actived'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后修改日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PB_BaseDataList', @level2type=N'COLUMN',@level2name=N'UpdDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'记录其他辅助信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PB_BaseDataList', @level2type=N'COLUMN',@level2name=N'OtherInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'序号字段' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PB_BaseDataList', @level2type=N'COLUMN',@level2name=N'Sequ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Y系统缺省' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PB_BaseDataList', @level2type=N'COLUMN',@level2name=N'bSysDefault'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'原始基础数据Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PB_BaseDataList', @level2type=N'COLUMN',@level2name=N'SourceBaseDataId'
GO
