USE [powerpip_Test]
GO
/****** Object:  Table [dbo].[Auto_code]    Script Date: 2017/6/9 14:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Auto_code](
	[sid] [int] NOT NULL,
	[code] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[SelectedOrNot] [bit] NULL CONSTRAINT [DF_Auto_code_SelectedOrNot]  DEFAULT ((1)),
	[rec_type] [int] NULL,
	[description] [varchar](255) NULL,
	[program_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[doc_type]    Script Date: 2017/6/9 14:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[doc_type](
	[dd] [int] IDENTITY(1,1) NOT NULL,
	[doc_type_sid] [int] NOT NULL,
	[doc_type_name] [varchar](200) NULL,
	[rec_type_sid] [int] NOT NULL CONSTRAINT [DF_doc_type_rec_type_sid]  DEFAULT ((0)),
	[SYSTEM_MODULE_sid] [int] NULL,
	[doc_type_id] [varchar](200) NULL,
	[parent_id] [int] NULL CONSTRAINT [DF_doc_type_parent_id]  DEFAULT ((0)),
	[haschild] [int] NULL,
	[treelevel] [int] NULL,
	[note] [text] NULL,
	[displayid] [int] NULL,
	[discolor] [int] NULL,
	[obsid] [int] NULL,
	[rec_vs_doctypesid] [int] NULL,
	[UseOrNot] [tinyint] NULL CONSTRAINT [DF_doc_type_UseOrNot]  DEFAULT ((1)),
	[Folder_sid] [int] NULL,
	[Rec_class_sid] [int] NULL,
	[program_id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rec_Right]    Script Date: 2017/6/9 14:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rec_Right](
	[rec_sid] [int] NOT NULL,
	[code] [varchar](200) NULL,
	[name] [varchar](200) NULL,
	[rec_type_sid] [int] NULL,
	[SYSTEM_MODULE_sid] [int] NULL,
	[parent_id] [int] NULL,
	[haschild] [smallint] NULL,
	[treelevel] [int] NULL,
	[displayid] [int] NULL,
	[discolor] [smallint] NULL,
	[note] [text] NULL,
	[obs_sid] [int] NULL,
	[UseOrNot] [tinyint] NULL CONSTRAINT [DF_Rec_Right_UseOrNot]  DEFAULT ((1)),
	[epsid] [int] NULL DEFAULT ((0)),
	[program_id] [int] NULL,
	[cont_kind] [nvarchar](16) NULL,
	[pact_kind] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RECORD_TRANSFER]    Script Date: 2017/6/9 14:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECORD_TRANSFER](
	[record_id] [int] NOT NULL,
	[SYSTEM_MODULE_sid] [int] NULL,
	[record_name] [varchar](100) NULL,
	[table_name] [varchar](80) NULL,
	[key_name] [varchar](50) NULL,
	[edit_name] [varchar](50) NULL,
	[condition_column] [varchar](50) NULL,
	[condition_name] [varchar](50) NULL,
	[status_column] [varchar](50) NULL,
	[project_id_column] [varchar](50) NULL,
	[Pact_id_column] [varchar](50) NULL,
	[AuditingOrNot] [tinyint] NULL CONSTRAINT [DF_RECORD_TRANSFER_AuditingOrNot]  DEFAULT ((0)),
	[RecRightOrNot] [tinyint] NULL CONSTRAINT [DF_RECORD_TRANSFER_RecRightOrNot]  DEFAULT ((0)),
	[RecTypeOrNot] [tinyint] NULL CONSTRAINT [DF_RECORD_TRANSFER_RecTypeOrNot]  DEFAULT ((0)),
	[AutoCodeOrNot] [tinyint] NULL CONSTRAINT [DF_RECORD_TRANSFER_AutoCodeOrNot]  DEFAULT ((0)),
	[RemarkOrNot] [tinyint] NULL CONSTRAINT [DF_RECORD_TRANSFER_RemarkOrNot]  DEFAULT ((0)),
	[RecRelationOrNot] [tinyint] NULL CONSTRAINT [DF_RECORD_TRANSFER_RecRelationOrNot]  DEFAULT ((0)),
	[ComOrNot] [tinyint] NULL CONSTRAINT [DF_RECORD_TRANSFER_ComOrNot]  DEFAULT ((0)),
	[AddAbleOrNot] [tinyint] NULL CONSTRAINT [DF_RECORD_TRANSFER_AddAbleOrNot]  DEFAULT ((0)),
	[TaskRelationOrNot] [tinyint] NULL CONSTRAINT [DF_RECORD_TRANSFER_TaskRelationOrNot]  DEFAULT ((0)),
	[AttachOrNot] [tinyint] NULL CONSTRAINT [DF_RECORD_TRANSFER_AttachOrNot]  DEFAULT ((0)),
	[UseOrNot] [tinyint] NULL CONSTRAINT [DF_record_transfer_useornot]  DEFAULT ((1)),
	[code] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[edit_time] [varchar](50) NULL,
	[company_column] [nvarchar](20) NULL,
 CONSTRAINT [PK_record_transfer] PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANSFER_ITEMS]    Script Date: 2017/6/9 14:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANSFER_ITEMS](
	[tran_id] [int] IDENTITY(1,1) NOT NULL,
	[record_id] [int] NOT NULL,
	[tran_item_name] [varchar](10) NULL,
	[tran_item_id] [int] NULL,
	[id_column] [varchar](40) NULL,
	[name_column] [varchar](40) NULL,
	[date_column] [varchar](40) NULL,
	[status_column] [varchar](40) NULL,
 CONSTRAINT [PK_TRANSFER_ITEMS] PRIMARY KEY CLUSTERED 
(
	[tran_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Auto_code] ([sid], [code], [name], [SelectedOrNot], [rec_type], [description], [program_id]) VALUES (26019, N'26019', N'财务审计默认规则', 1, 26019, N'', 194)
INSERT [dbo].[Auto_code] ([sid], [code], [name], [SelectedOrNot], [rec_type], [description], [program_id]) VALUES (26020, N'26020', N'档案验收默认规则', 1, 26020, N'', 194)
INSERT [dbo].[Auto_code] ([sid], [code], [name], [SelectedOrNot], [rec_type], [description], [program_id]) VALUES (26021, N'26021', N'竣工验收申请默认规则', 1, 26021, N'', 194)
GO
SET IDENTITY_INSERT [dbo].[doc_type] ON 

INSERT [dbo].[doc_type] ([dd], [doc_type_sid], [doc_type_name], [rec_type_sid], [SYSTEM_MODULE_sid], [doc_type_id], [parent_id], [haschild], [treelevel], [note], [displayid], [discolor], [obsid], [rec_vs_doctypesid], [UseOrNot], [Folder_sid], [Rec_class_sid], [program_id]) VALUES (1, 1202, N'其他目标计划记录', 1202, 12, N'1202', 0, 0, 1, NULL, 1208, 2, NULL, NULL, 1, NULL, NULL, 194)
INSERT [dbo].[doc_type] ([dd], [doc_type_sid], [doc_type_name], [rec_type_sid], [SYSTEM_MODULE_sid], [doc_type_id], [parent_id], [haschild], [treelevel], [note], [displayid], [discolor], [obsid], [rec_vs_doctypesid], [UseOrNot], [Folder_sid], [Rec_class_sid], [program_id]) VALUES (2, 1202, N'目标计划记录', 1202, 12, N'1202', 0, 0, 1, NULL, 1208, 2, NULL, NULL, 1, NULL, NULL, 194)
INSERT [dbo].[doc_type] ([dd], [doc_type_sid], [doc_type_name], [rec_type_sid], [SYSTEM_MODULE_sid], [doc_type_id], [parent_id], [haschild], [treelevel], [note], [displayid], [discolor], [obsid], [rec_vs_doctypesid], [UseOrNot], [Folder_sid], [Rec_class_sid], [program_id]) VALUES (3, 1202, N'目标计划记录', 1202, 12, N'1202', 0, 0, 1, NULL, 1208, 2, NULL, NULL, 1, NULL, NULL, 194)
GO
SET IDENTITY_INSERT [dbo].[doc_type] OFF
INSERT [dbo].[Rec_Right] ([rec_sid], [code], [name], [rec_type_sid], [SYSTEM_MODULE_sid], [parent_id], [haschild], [treelevel], [displayid], [discolor], [note], [obs_sid], [UseOrNot], [epsid], [program_id], [cont_kind], [pact_kind]) VALUES (1601043, N'6', N'供电公司', 1403, NULL, 1403, 1, 2, 6, 1, N'', 129, 1, 0, 195, NULL, NULL)
INSERT [dbo].[Rec_Right] ([rec_sid], [code], [name], [rec_type_sid], [SYSTEM_MODULE_sid], [parent_id], [haschild], [treelevel], [displayid], [discolor], [note], [obs_sid], [UseOrNot], [epsid], [program_id], [cont_kind], [pact_kind]) VALUES (1601044, N'7', N'经发部', 1403, NULL, 1403, 0, 2, 7, 1, N'', 67, 1, 0, 195, NULL, NULL)
INSERT [dbo].[Rec_Right] ([rec_sid], [code], [name], [rec_type_sid], [SYSTEM_MODULE_sid], [parent_id], [haschild], [treelevel], [displayid], [discolor], [note], [obs_sid], [UseOrNot], [epsid], [program_id], [cont_kind], [pact_kind]) VALUES (1613001, N'1', N'市政', 1613, NULL, 1613017, 1, 3, 1, 1, N'', 48, 1, 194, 194, N'', 0)
GO
INSERT [dbo].[RECORD_TRANSFER] ([record_id], [SYSTEM_MODULE_sid], [record_name], [table_name], [key_name], [edit_name], [condition_column], [condition_name], [status_column], [project_id_column], [Pact_id_column], [AuditingOrNot], [RecRightOrNot], [RecTypeOrNot], [AutoCodeOrNot], [RemarkOrNot], [RecRelationOrNot], [ComOrNot], [AddAbleOrNot], [TaskRelationOrNot], [AttachOrNot], [UseOrNot], [code], [name], [edit_time], [company_column]) VALUES (1102, 12, N'wbs记录', N'PROJWBS', N'', N'', N'', N'', N'', N'', NULL, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, N'wbs_short_name', N'wbs_name', N'', NULL)
GO
SET IDENTITY_INSERT [dbo].[TRANSFER_ITEMS] ON 

INSERT [dbo].[TRANSFER_ITEMS] ([tran_id], [record_id], [tran_item_name], [tran_item_id], [id_column], [name_column], [date_column], [status_column]) VALUES (79, 22001, N'审核', 2, N'auditor_sid', N'auditor_name', N'auditor_time', N'auditingStatus')
INSERT [dbo].[TRANSFER_ITEMS] ([tran_id], [record_id], [tran_item_name], [tran_item_id], [id_column], [name_column], [date_column], [status_column]) VALUES (80, 22001, N'批准', 3, N'authorizer_sid', N'authorizer_name', N'authorizer_time', N'authorizeStatus')
INSERT [dbo].[TRANSFER_ITEMS] ([tran_id], [record_id], [tran_item_name], [tran_item_id], [id_column], [name_column], [date_column], [status_column]) VALUES (81, 1401, N'审核', 2, N'auditorId', N'auditor', N'auditingDate', N'auditingStatus')
GO
SET IDENTITY_INSERT [dbo].[TRANSFER_ITEMS] OFF
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auto_code', @level2type=N'COLUMN',@level2name=N'code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名字' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auto_code', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否使用，默认值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auto_code', @level2type=N'COLUMN',@level2name=N'SelectedOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'记录类型编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auto_code', @level2type=N'COLUMN',@level2name=N'rec_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'说明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auto_code', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'记录类型的小号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'doc_type', @level2type=N'COLUMN',@level2name=N'doc_type_sid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'记录类型大类号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'doc_type', @level2type=N'COLUMN',@level2name=N'rec_type_sid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统权限模块，关联到SYSTEM_MODULE sid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'doc_type', @level2type=N'COLUMN',@level2name=N'SYSTEM_MODULE_sid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否,使用该记录类型 0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'doc_type', @level2type=N'COLUMN',@level2name=N'UseOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统权限模块，关联到SYSTEM_MODULE sid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rec_Right', @level2type=N'COLUMN',@level2name=N'SYSTEM_MODULE_sid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否,使用该管理权限树 0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Rec_Right', @level2type=N'COLUMN',@level2name=N'UseOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统权限模块，关联到fun_type fun_type_sid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'SYSTEM_MODULE_sid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态字段' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'status_column'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'存项目编号的字段名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'project_id_column'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否需要送审，0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'AuditingOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否需要管理权限树，0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'RecRightOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否有子记录类型 0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'RecTypeOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否有自动编号0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'AutoCodeOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否有备注0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'RemarkOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否有相关记录 0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'RecRelationOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否有相关单位 0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'ComOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否能在相关记录里直接增加0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'AddAbleOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否需要关联到作业0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'TaskRelationOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否需要附件 0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'AttachOrNot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否,使用该记录 0否 1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RECORD_TRANSFER', @level2type=N'COLUMN',@level2name=N'UseOrNot'
GO
