<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433 
  -->
<configuration>
  <configSections>
    <section name="PowerControl" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CurrentScene" value="shPower" />
    <add key="LocalPath" value="/PowerPlat/PowerPlan/maps/" />
    <add key="AbsolutePath" value="e:\workspace\PowerPMS\trunk\src\Power.PMS\Power.PMS\PowerPlat\PowerPlan\maps\" />
    <add key="EngineAddress" value="127.0.0.1" />
    <add key="EnginePort" value="1088" />
    <add key="BlueEarthUrl" value="http://192.168.0.181:3000/BlueearthWebService.asmx" />
    <add key="BlueEarthEnterUrl" value="http://dev.p3china.com:3000/" />
    <add key="BlueEarthFileDownload" value="http://192.168.0.82:9508" />
    <add key="FuLong3DAIR" value="http://192.168.0.181:8060/AIR/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <httpCookies httpOnlyCookies="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <!--Newtonsoft.Json 默认10版本-->
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RouteModule" type="Power.PMS.PowerPlat.RouteModule" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" name="ASPxHttpHandlerModule" path="DX.ashx" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <mimeMap fileExtension=".shp" mimeType="application/directx" />
      <mimeMap fileExtension=".dbf" mimeType="application/directx" />
      <mimeMap fileExtension=".shx" mimeType="application/directx" />
      <mimeMap fileExtension=".kml" mimeType="text/xml" />
      <mimeMap fileExtension=".rvt" mimeType="application/directx" />
      <mimeMap fileExtension=".svf" mimeType="application/directx" />
      <mimeMap fileExtension=".svfzip" mimeType="application/directx" />
      <mimeMap fileExtension=".pack" mimeType="text/html" />
      <mimeMap fileExtension=".pf" mimeType="text/html" />
      <mimeMap fileExtension=".dds" mimeType="text/html; charset=utf-8" />
    </staticContent>
  </system.webServer>
  <PowerControl>
    <add key="WebCenter" value="Power.Controls.PMS.WebCenterControl, Power.Controls" />
    <add key="Resource" value="Power.Controls.PMS.ResourceControl, Power.Controls" />
    <add key="Form" value="Power.Controls.PMS.FormControl, Power.Controls" />
    <add key="WorkFlow" value="Power.Controls.PMS.WorkFlowControl, Power.Controls" />
    <add key="Account" value="Power.Controls.PMS.AccountControl, Power.Controls" />
    <add key="Right" value="Power.Controls.PMS.RightControl, Power.Controls" />
    <add key="API" value="Power.Controls.PMS.APIControl, Power.Controls" />
    <add key="Sync" value="Power.Controls.PMS.SyncControl, Power.Controls" />
    <add key="Search" value="Power.Controls.PMS.SearchControl, Power.Controls" />
    <add key="Data" value="Power.Controls.PMS.DataControl, Power.Controls" />
    <!--消息查看-->
    <add key="Message" value="Power.Controls.PMS.MessageControl, Power.Controls" />
    <!--微信控制器-->
    <add key="Weixin" value="Power.Controls.PMS.WeixinControl, Power.Controls" />
    <!--招标管理-->
    <!--采购模块控制器-->
    <!--项目策划-->
    <!--合同模块控制器-->
    <!--质量模块控制器-->
    <!--HSE模块控制器-->
    <!--费用模块控制器-->
    <!--施工模块控制器-->
    <add key="Construct" value="Power.Controls.PMS.StdConstructControl, Power.Controls" />
    <!--沟通模块控制器-->
    <!--设计管理控制器-->
    <!--门户管理控制器-->
    <add key="FuLong3D" value="Power.Controls.FuLong3D.FuLong3DControl,Power.Controls.FuLong3D" />
    <add key="App" value="Power.Controls.PMS.AppControl, Power.Controls" />
    <!--APP控制器-->
    <add key="APPAccount" value="Power.APPControl.Control.APPAccount,Power.APPControl" />
    <!--数据集控制器-->
    <add key="DataSet" value="Power.Controls.PMS.DataSetControl, Power.Controls" />
    <!--云端控制器1-->
    <add key="OSS" value="Power.Controls.PMS.OSSAddFile, Power.Controls" />
    <add key="APPTask" value="Power.APPControl.Control.APPStdTask,Power.APPControl" />
    <add key="StdAPPQS" value="Power.APPControl.StdAPPQS.StdAPPQSControl,Power.APPControl.StdAPPQS" />
    <add key="Edoc" value="Power.Controls.PMS.EdocUploadApi, Power.Controls" />
    <add key="PageOffice" value="Power.Controls.PageOffice.PageOfficeControl,Power.Controls.PageOffice" />
    <add key="Plan" value="Power.Controls.StdPlan.PlanControl, Power.Controls.StdPlan" />
    <add key="Market" value="Power.Controls.StdMarket.MarketControl, Power.Controls.StdMarket" />
    <add key="Bid" value="Power.Controls.StdBid.StdBidControl, Power.Controls.StdBid" />
    <add key="Purchase" value="Power.Controls.StdPurchase.StdPurchaseControl, Power.Controls.StdPurchase" />
    <add key="Initiation" value="Power.Controls.StdInitiation.StdInitiationControl, Power.Controls.StdInitiation" />
    <add key="Contract" value="Power.Controls.StdContract.StdContractControl, Power.Controls.StdContract" />
    <add key="Quality" value="Power.Controls.StdQuality.StdQualityControl, Power.Controls.StdQuality" />
    <add key="HSE" value="Power.Controls.StdHSE.StdHSEControl, Power.Controls.StdHSE" />
    <add key="Cost" value="Power.Controls.StdCost.StdCostControl, Power.Controls.StdCost" />
    <add key="Communicate" value="Power.Controls.StdCommunicate.StdCommunicateControl, Power.Controls.StdCommunicate" />
    <add key="Design" value="Power.Controls.StdDesign.StdDesignControl, Power.Controls.StdDesign" />
    <add key="Portal" value="Power.Controls.StdPortal.StdPortalControl, Power.Controls.StdPortal" />
    <add key="BIM" value="Power.Controls.StdBIM.StdBIMControl, Power.Controls.StdBIM" />
    <add key="BlueEarth" value="Power.Controls.Blueearth.BlueearthControl, Power.Controls.Blueearth" />
    <add key="Document" value="Power.Controls.StdDocument.StdDocumentControl, Power.Controls.StdDocument" />
    <!--zyx-->
    <add key="zyx" value="Power.Control.zyx.ZyxMainController, Power.Control.zyx" />
  </PowerControl>
  <devExpress>
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <errors callbackErrorRedirectUrl="" />
    <settings rightToLeft="false" doctypeMode="Html5" embedRequiredClientLibraries="true" ieCompatibilityVersion="edge" />
  </devExpress>
</configuration> 