.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}

html, body {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 18px;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.clearfloat {
  zoom: 1
}

.font-color-blue {
  color: #466FE2!important;
}

.font-color-purple {
  color: #8C5FA3!important;
}

.font-color-red {
  color: #E77471!important;
}

.font-color-lightGreen {
  color: #54A9E3!important;
}

.font-color-info {
  color: #FEFFEF!important;
}

.font-color-active {
  color: #295AA6!important;
}

.font-color-primary {
  color: #51BDBD!important;
}

.font-color-warning {
  color: #FEAD6B!important;
}

.font-color-romantic {
  color: #F784A5!important;
}

.font-color-deep {
  color: #CEB559!important;
}

.font-color-sky {
  color: #30B5D6!important;
}

.power-project-menu-bg0 {
  background-color: #286A00!important;
}

.power-project-menu-bg1 {
  background-color: #286A97!important;
}

.power-project-menu-bg2 {
  background-color: #E86D6C!important;
}

.power-project-menu-bg3 {
  background-color: #FFB900!important;
}

.power-project-menu-bg4 {
  background-color: #F63175!important;
}

.power-project-menu-bg5 {
  background-color: #9231F4!important;
}

.power-project-menu-bg6 {
  background-color: #16D997!important;
}

.power-project-menu-bg7 {
  background-color: #0AB9F5!important;
}

.power-project-menu-bg8 {
  background-color: #FF6D00!important;
}

.power-project-menu-bg9 {
  background-color: #D331F6!important;
}

.power-project-menu-bg10 {
  background-color: #F55050!important;
}

.power-project-menu-bg11 {
  background-color: #CCCCCC!important;
}

.power-project-menu-bg12 {
  background-color: #4BC58D!important;
}

.hide{
  display: none!important;
}

.move-animation-start {
  transform: translate3d(100%, 0px, 0px);
  transition-duration: 0.5s;
}

.move-animation-back {
  transform: translate3d(0px, 0px, 0px);
  transition-duration: 0.5s;
}

.loading-pop-content{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
}

.loading-pop-content .loading-mask-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

.loading-pop-content .loading-main-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 10px 40px;
  border-radius: 5px;
}

.loading-main-content .loading-icon,
.loading-main-content .loading-text{
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #8f8f94;
}

input[type=search] {
  background-color: #ffffff;
}
.top-line, .bottom-line {
  position: relative;
}

.top-line::before {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #c8c7cc;
}

.bottom-line::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px!important;
  content: '';
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  background-color: #c8c7cc;
}

@media (-webkit-min-device-pixel-ratio: 1),(min-device-pixel-ratio: 1) {
  .top-line::before, .bottom-line::after {
      -webkit-transform: scaleY(.5);
      transform: scaleY(.5);
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
  .top-line::before, .bottom-line::after {
      -webkit-transform: scaleY(.33);
      transform: scaleY(.33);
  }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
  .top-line::before, .bottom-line::after {
      -webkit-transform: scaleY(.25);
      transform: scaleY(.25);
  }
}

/* 列表布局 -start */
.mui-table-view:after, .mui-table-view:before, .mui-table-view-cell:after {
  height: 0;
}
.mui-table-view::after, .mui-table-view::before, .mui-table-view-cell::after {
  height: 0;
}

.mui-table-view {
  background-color: transparent;
  padding-top: 10px;
}

.mui-table-view .mui-table-view-cell {
  padding: 0px 5px;
  margin-bottom: 10px;
}

.mui-popover .mui-table-view .mui-table-view-cell {
  padding: 5px;
  margin-bottom: 10px;
}

.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell {
  font-size: 14px;
}
.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell:after {
  height: 1px;
}

.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell:last-child:after {
  height: 0;
}

.mui-popover.mui-popover-action .mui-table-view-cell>a:not(.mui-btn) {
  margin: -7px -15px;
}

.mui-table-view-cell .mui-slider-handle {
  border-radius: 3px;
}

.mui-slider-handle .text-row{
  width: 100%;
  position: relative;
  display: flex;
}

.mui-slider-handle .text-row .mui-checkbox{
  flex: 0 0 40px;
  line-height: 1;
  max-width: 40px;
  height: 60px;
  position: relative;
}

.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {
  position: absolute;
  top: 14px;
  left: 7px;
  display: inline-block;
  width: 28px;
  height: 26px;
  border: 0;
  outline: 0!important;
  background-color: transparent;
  -webkit-appearance: none;
}

.mui-table-view .mui-media-object.mui-pull-left {
  margin-right: 0px;
}

.mui-slider-handle .text-row .mui-media-body{
  flex: 1;
}

.mui-slider-handle .text-row .mui-tag {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 13px;
  color: #ffffff;
  padding: 0 7px;
  line-height: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-width: 60px;
  text-align: center;
}

.text-row .mui-media-body {
  padding-left: 5px;
}

.text-row .mui-media-body .list-title {
  width: 85%;
  font-size: 16px;
  padding: 5px 0 5px 0;
  color: #000000;
}

.text-row .mui-media-body .list-units {
  display: flex;
}

.text-row .mui-media-body .list-units .list-unit {
  flex: 1;
  font-size: 14px;
  padding: 5px 0;
  color: #aaaaaa;
  text-align: left;
}
.pull-down-last-show {
  width: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

/* 列表布局 -end */