* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "微软雅黑";
}

ul,
li {
    list-style: none;
}

img,
hr {
    border: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.root {
    width: 100%;
    overflow-x: hidden;
}

.root .header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0px;
    z-index: 0;
}

.header .list-tabs-bar {
    position: relative;
    line-height: 40px;
    height: 40px;
}

.header .list-tabs-bar img {
    width: 8px;
}

.list-tabs-bar .left-bar {
    position: absolute;
    display: inline-block;
    height: 15px;
    width: 15px;
    color: #fff;
    top: 15px;
    left: 5px;
}

.list-tabs-bar .right-bar {
    position: absolute;
    display: inline-block;
    height: 15px;
    width: 15px;
    color: #fff;
    top: 15px;
    right: 5px;
}

.list-tabs-bar .header-slide-bars {
    width: 70%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.header-slide-bars .tabLists {
    width: 162%;
    height: 100%;
    list-style: none;
    position: relative;
    left: 0;
    display: -webkit-box;
}

.header-slide-bars .tabLists ul {
    width: 100%;
}

.header-slide-bars ul li {
    height: 40px;
    width: 20%;
    line-height: 45px;
    text-align: center;
    float: left;
    color: rgba(0, 0, 0, 0.9);
}

.header-slide-bars ul li.active {
    color: #24affb;
}

.header-slide-bars .tabLists .blue-line-slide {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    border-bottom: 2px solid #24affb;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0;
    border-top: 1px solid #dddddd;
}

.footer .footer-button-bar {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.footer-button-bar .main-footer-bars {
    width: 100%;
    height: 40px;
    line-height: 40px;
    list-style: none;
    background: #fafafa;
}

.footer-button-bar .main-footer-bars li {
    width: 29%;
    float: left;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #ddd;
    position: relative;
}

.footer-button-bar .main-footer-bars li img {
    width: 15px;
    padding-right: 7px;
}

.footer-button-bar .main-footer-bars li:last-child {
    width: 12%;
    border-right: 0;
}

.footer-button-bar .main-footer-bars li .button-box:last-child {
    padding-right: 0;
}

.footer-button-bar .sub-lists {
    position: fixed;
    right: 5px;
    bottom: 60px;
}

.footer-button-bar .sub-lists .button-lists {
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 5px;
    background: #fafafa;
}

.footer-button-bar .sub-lists .button-lists li {
    border-bottom: 1px solid #ddd;
    padding: 0 15px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #666;
}

.footer-button-bar .sub-lists .button-lists li:last-child {
    border-bottom: none;
}

.footer .footer-button-bar .sub-lists {
    line-height: 38px;
}

.main-footer-bars .button-box .pack-buttons {
    width: 10px;
    position: fixed;
    bottom: 40px;
    right: 13px;
}

.previous-page {
    background: url(../img/previous-page.png) no-repeat center;
    background-size: contain;
}

.next-page {
    background: url(../img/next-page.png) no-repeat center;
    background-size: contain;
}

.previous-page-blue {
    background: url(../img/previous-page-blue.png) no-repeat center;
    background-size: contain;
}

.next-page-ddd {
    background: url(../img/next-page-ddd.png) no-repeat center;
    background-size: contain;
}

.root .main-content {
    width: 500%;
    margin: 44px 0 0 0;
}

.root .main-content .item-content {
    width: 20%;
    float: left;
}


/***********遮罩层*************/

.maskLayer {
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.popUp {
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
}

.popUp .pop-content {
    /*position: relative;*/
    height: 100%;
    width: 100%;
    z-index: 100;
}

.pop-content .pop {
    height: 95%;
    width: 90%;
    position: absolute;
    top: 60% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

.pop .items-content {
    /*position: relative;*/
    height: 90%;
    background-color: #ffffff;
    font-size: 14px;
    overflow-y: auto;
    overflow: hidden;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 18px rgba(0, 0, 0, .5);
}

.v-line-fff {
    background: none;
    color: #fff;
    text-align: center;
    height: 15px;
}

.v-line-fff span {
    display: block;
    height: 100%;
    width: 0;
    border-left: 1px solid #fff;
    margin: 0 auto;
}

.x-btn-footer {
    text-align: center;
}

.x-btn-footer img {
    width: 25px;
    height: 25px;
}

.left_float {
    float: left;
}

.right_float {
    float: right;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

.message-project-unit .unit-header {
    position: relative;
    line-height: 28px;
    height: 28px;
}

.unit-header .warn-button {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
}

.danger {
    background: #990033 !important;
}

.default {
    background: #6b8e23!important;
}


/* 滚动条整体部分
定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸
*/

.scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: #F5F5F5;
}


/* 滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
定义滑块 内阴影+圆角
*/

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}


/* 滚动条的轨道（里面装有Thumb）
定义滚动条轨道 内阴影+圆角
*/

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}


/* 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。 */

.scroll::-webkit-scrollbar-button {}


/* 内层轨道，滚动条中间部分（除去） */

.scroll::-webkit-scrollbar-track-piece {}


/* 边角，即两个滚动条的交汇处 */

.scroll::-webkit-scrollbar-corner {}


/* 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件 */

.scroll::-webkit-resizer {}

.unit-header .time-content {
    padding: 0 0 0 35px;
    color: #888;
    font-size: 12px;
}

.unit-header .agree-reject-buttom {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    color: #9F9F9F;
}

.unit-body .unit-item-msg {
    padding-left: 14px;
}

.unit-body .message-content {
    margin: 5px 0;
    padding: 0 10px 0 20px;
    text-align: justify;
    border-left: 1px solid #D5D5D5;
}

.message-project-unit:last-child .unit-body .message-content {
    border-left: 1px solid #fff;
}

.unit-body .message-content>p {
    line-height: 25px;
    font-size: 14px;
    color: #232323;
}

.unit-body .message-content>p .name_related {
    width: 85%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-content .item-content-msg {
    padding: 10px 15px;
    color: #232323;
}

.item-content .item-content-msg>p {
    font-size: 16px;
    padding: 5px 0;
    text-indent: 2em;
    margin: 0.5em 0;
    text-align: justify;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
}

.main-footer-bars .action_icon {
    display: inline-block;
    line-height: 40px;
}

.main-footer-bars .icon_img {
    width: 15px;
    height: 15px;
    position: relative;
    top: 4px;
}

.flow_Record_icon {
    background: url("../img/record.png") no-repeat center;
    background-size: contain;
}

.flow_review_icon {
    background: url("../img/review.png") no-repeat center;
    background-size: contain;
}

.flow_save_icon {
    background: url("../img/save.png") no-repeat center;
    background-size: contain;
}

.agree_icon {
    background: url("../img/consent.png") no-repeat center;
    background-size: contain;
}

.reject_icon {
    background: url("../img/reject.png") no-repeat center;
    background-size: contain;
}

.button-box .button-list-icon {
    display: block;
    margin: -8px auto 0 auto;
    width: 15px;
    height: 15px;
    background: url("../img/more.png") no-repeat center;
    background-size: contain;
}

.button-box .arrow-icon_down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background: url("../img/Pack.png") no-repeat center;
    background-size: contain;
}

.button-box .arrow-icon_up {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background: url("../img/unfurled.png") no-repeat center;
    background-size: contain;
}

.displaynone {
    display: none;
}