@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
html{
	font-size:10px; 
	font-family: "微软雅黑";
}
body{ 
	margin:0 auto;
}
ul,li{

	list-style:none;
}
img,hr{
	border:0;
}
a{ 
	text-decoration:none;
	color:#000;
}


.font-color-blue {
    color: #466FE2!important;
}

.font-color-purple {
    color: #8C5FA3!important;
}

.font-color-red {
    color: #E77471!important;
}

.font-color-lightGreen {
    color: #54A9E3!important;
}

.font-color-info {
    color: #FEFFEF!important;
}

.font-color-active {
    color: #295AA6!important;
}

.font-color-primary {
    color: #51BDBD!important;
}

.font-color-warning {
    color: #FEAD6B!important;
}

.font-color-romantic {
    color: #F784A5!important;
}

.font-color-deep {
    color: #CEB559!important;
}

.font-color-sky {
    color: #30B5D6!important;
}

.power-project-menu-bg0 {
    background-color: #286A00!important;
}

.power-project-menu-bg1 {
    background-color: #286A97!important;
}

.power-project-menu-bg2 {
    background-color: #E86D6C!important;
}

.power-project-menu-bg3 {
    background-color: #FFB900!important;
}

.power-project-menu-bg4 {
    background-color: #F63175!important;
}

.power-project-menu-bg5 {
    background-color: #9231F4!important;
}

.power-project-menu-bg6 {
    background-color: #16D997!important;
}

.power-project-menu-bg7 {
    background-color: #0AB9F5!important;
}

.power-project-menu-bg8 {
    background-color: #FF6D00!important;
}

.power-project-menu-bg9 {
    background-color: #D331F6!important;
}

.power-project-menu-bg10 {
    background-color: #F55050!important;
}

.power-project-menu-bg11 {
    background-color: #CCCCCC!important;
}

.power-project-menu-bg12 {
    background-color: #4BC58D!important;
}
/*index页面*/
.clr {
	clear:both;
	height:0px;
}
.header{ 
	background:#fff; 
	position:fixed;
	top:0px;left:0px;
	width:100%;
	height:60px;
	z-index:11;
}
.head_top{ 
	height:50px; 
	background-size:100%; 
	text-align:center; 
	line-height:50px;
	margin:5px 0px;
}
.head_top span{ 
	float:right; 
	color:#0074e1;
	width:40px; 
	height:50px; 
	font-size:2rem;
}

.slideBox{ 
	position:relative; 
	overflow:hidden; 
	margin:0px auto; 
	
	max-width:100%;/* 设置焦点图最大宽度 */ 
}
.slideBox .hd1{ 
	position:absolute;
	height:28px; 
	line-height:28px; 
	bottom:0; 
	text-align:center; 
	width:100%;  
	z-index:1;
}
.slideBox .hd1 li{
	display:inline-block;
	width:8px; 
	height:8px;
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	border-radius:5px;
	background:#b8b8b8; 
	text-indent:-9999px; 
	overflow:hidden;
	margin:0 6px;   
}
.slideBox .hd1 li.on{
	background:#fff;  
}
.slideBox .bd1{ 
	position:relative; 
	z-index:0; 
}
.slideBox .bd1 li{
	position:relative; 
	text-align:center; 
}
.slideBox .bd1 li img{
	vertical-align:top; 
	width:100%;/* 图片宽度100%，达到自适应效果 */
}
.slideBox .bd1 li a{ 
	-webkit-tap-highlight-color:rgba(0,0,0,0); 
}

.slideBox1{ 
	position:relative; 
	overflow:hidden;
	margin:0px auto;  
	max-width:100%; 
	padding-bottom:27px;/* 设置焦点图最大宽度 */ 
}
.slideBox1 .hd2{ 
	position:absolute;
	height:28px; 
	line-height:28px; 
	bottom:0px; 
	text-align:center; 
	width:100%; 
	background-color:#e9e9e9;
	z-index:1; 
}
.slideBox1 .hd2 li{ 
	display:inline-block; 
	width:8px;
	height:8px; 
	-webkit-border-radius:5px;
	-moz-border-radius:5px; 
	border-radius:5px; 
	background:#333; 
	text-indent:-9999px; 
	overflow:hidden; 
	margin:0 6px;   
}
.slideBox1 .hd2 li.on{
	background:#2f8ce3; 
}
.slideBox1 .bd2{ 
	position:relative; z-index:0; 
}
.slideBox1 .bd2 li{ 
	position:relative;
	text-align:center; 
}
.slideBox1 .bd2 .nav{
	width:100%;
	height:160px; 
	background-color:#ffffff;
}
.slideBox1 .bd2 .nav-1,.slideBox1 .bd2 .nav-2{
	width:100%;
	display:box; 
	height:80px;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
}
.slideBox1 .bd2 .nav-1{
	border-bottom:1px solid #dedede;
}
.slideBox1 .bd2 .nav .item{
	width:25%;
	float:left;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	border-right:1px solid #dedede;
	display:box; 
	box-sizing:border-box; 
	font-size:1.4rem; 
	text-align:center;
	height:80px; 
	line-height:30px;
	vertical-align:middle;
	padding-top:10px;
	color:#6c6c6c;
}
.slideBox1 .bd2 .nav .item .icon{
	display:block;
	font-size:2.5rem; 
}
.a{
	color:#07a39b;
}
.b{
	color:#468ed1;
}
.c{
	color:#69b03c;
}
.d{
	color:#ffb21e;
}
.e{
	color:#ffad11;
}
.f{
	color:#50beb9;
}
.g{
	color:#d52516;
}
.h{
	color:#ef6653;
}

section{
	margin:0 10px;
}
section ul li{ 
	line-height:30px;
	height:30px; 
	border-bottom:1px dashed #ccc;
}
section ul li a{
	font-size:1.4rem; 
}
section ul li .dot{
	width:8px; 
	height:8px; 
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px; 
	background-color:#f85255;
	display:inline-block;
	margin:0 5px;
}
section ul li .time{
	float:right; 
	font-size:1.2rem; 
	color:#666;
}
.footer{ 
	width:100%; 
	display:box;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
	border-top:1px solid #ddd;
	background-color:#fff; 
	position:fixed;
	left:0px; 
	bottom:0px; 
	width:100%; 
	display:block;
	box-sizing:border-box;
	height:60px;
	line-height:25px;
	padding-top:8px;
} 
.footer .item{
	width:20%;
	float:left;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	display:box; 
	box-sizing:border-box; 
	font-size:1.4rem; 
	text-align:center;
	height:60px; 
	line-height:25px;
	color:#9b9b9b;
}
.footer .item .icon{
	display:block;
	font-size:2rem; 
}
.footer .active{
	color:#0074e1;
}

/*tab页面*/
.listfile{
	background-color:#fff;
}
.listfile .buttonlist{
	width:100%;
	display:flex; 
	height:40px;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
	text-align:center;
	background-color:#ffffff;
	position:fixed;
	top:0px;
	left:0px;
	border-bottom:1px solid #ddd;
	z-index:12;
}

.listfile .buttonlist .button{
    -webkit-flex: 1;
	flex: 1;
	border-right:1px solid #ddd;
	box-sizing:border-box;
	font-size:1.4rem;
	text-align:center;
	line-height:40px;
}
.listfile .buttonlist .button:last-child{
    border-right:none;
}

.listfile .buttonlist .button a{
	color:#666;
}
.listfile .buttonlist .button span{
	margin-left:3px;
}

.listfile .buttonlist1{
	width:100%;
	height:40px;
	text-align:center;
	background-color:#ffffff;
	position:fixed;
	top:0px;
	left:0px;
	border-bottom:1px solid #ddd;
	z-index:12;
	display:none;
}
.listfile .buttonlist1 .button{
    -webkit-flex:1;
	flex: 1;
	border-right:1px solid #ddd; 
	box-sizing:border-box;
	font-size:1.4rem;
	text-align:center;
	line-height:40px;
}
.listfile .buttonlist1 .button:last-child{
    border-right:0 solid transparent;
}

.listfile .buttonlist1 .button a{
	color:#666;
}
.listfile .buttonlist1 .ok a{
    color:#F46545;
}
.listfile .buttonlist1 .button span{
	margin-left:3px;
}

.disable {
    background-color: #f4f4f4!important;
}



#tablist{
	width: 100%;
	height:100%;
	margin-top:51px;
}
#ul1{
	height: 49px;
	width:100%;
	display:box; 
	background-color:#fff;
	color:#333;
	position:fixed;
	bottom:0;
	left:0px;
    -webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
}
#ul1 li{
	display: inline-block;
	line-height:20px;
	padding:5px 0px;
	float: left;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
	width:20%;
	text-align:center;
}
#ul1 li i{
	font-size:1.6rem;
}
#ul1 li.active{
   background-color:#4b8df8;
   color:#fff;
}
#tablist section table{
	width:100%;
	border-collapse:collapse;
	margin-top:55px;
}
#tablist section table td{
	border:1px solid #ddd;
	line-height:25px;
	font-size:1rem;
	height:35px;
	color:#000;
	padding-left:5px;}
#tablist section table td span{
	width:100%;
    display:block;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
}
#tablist section table td input{
	width: 95%;
	height: 23px;
}
#tablist section table td .mini-textbox{
	width:96%;
	margin:5px 0px;
}
#tablist section table td .mini-buttonedit-buttons{
	top:0px;
	background-color:#f4f4f4
	
}

.show{
	display: block;
	margin:55px 5px;
}
.hide{
	display: none;
}

.listdiv{
	position:fixed;
	top:0;
	left:0px;
	width:100%;
	height:100%;
	display:none;
	z-index:1000;
}
.listdiv .navbg{
	filter:alpha(opacity=30); 
	-moz-opacity:0.5; 
	opacity:0.5;
	background-color:#000;
	width:100%;
	height:100%;
}
.listdiv .navlist{
	display:block;
	background-color:#fff;
	 
	position:absolute;
	top:50px;
	right:5px;
	border:1px solid #fff;
	border-radius:5px;
}
.listdiv .navlist ul li{
	line-height:30px;
	border-bottom:1px solid #ddd;
	width:100%;
	text-indent:8px;
}
.listdiv .navlist ul li:last-child{
	border:0px;
}
.listdiv .navlist ul li span{
	margin-left:5px;
}
.triangle-up{   
	width:0;
	height:0;   
	border-left:10px solid transparent;   
	border-right:10px solid transparent;   
	border-bottom:10px solid #fff;
	position:absolute;
	top:-10px;
	left:40%;
}

/*listfile页面*/ 
 .listfile ul{
	 width: 100%;
	margin:0 auto;
	padding-top:40px;
 }
 .listfile ul li{
	 width: 90%;
	 margin: 0 auto;
	 position: relative;
	height:60px;
	line-height:60px;
	border-bottom:1px solid #ccc;
 }
 .listfile ul li div{
	color:#666;
	font-size:1.4rem;
	line-height:25px;
	padding-left: 30px;
	float:left;
	width:90%;
	margin:5px 0px;
 }
  .listfile ul li div p{
	  width:100%;
	  padding-left:5px;
	  margin:0px;
  }
  .listfile ul li div .title{
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	color:#000;
  }
  .listfile ul li div .group{
	font-size:1.2rem;
	color:#666;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
  }
  .listfile ul li div .group span{
	width:33%;
	height:25px;
	display:block;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	text-indent:4px;
	float:left;
    text-align: center;
 }
 .listfile ul li .left{
 	position: absolute;
 	left: 0;
	font-size:3rem;
	width:8%;
	/*float:left !important ;*/
	text-align:center;
 }
 .listfile ul li .left input{
	 display:none;
 }
 .listfile ul li .right{
	position: absolute;
	right:0;
    width:2%;
    font-size: 26px;
    color: rgba(0,0,0,0.5);
 }
 
 .listdiv{
	position:fixed;
	top:0;
	left:0px;
	width:100%;
	height:100%;
	display:none;
 }
 .listdiv .navbg{
	filter:alpha(opacity=30); 
	-moz-opacity:0.5; 
	opacity:0.5;
	background-color:#000;
	width:100%;
	height:100%;
 }
 .listdiv .navlist{
	height:93px;
	background-color:#fff;
	 
	position:absolute;
	top:50px;
	right:5px;
	border:1px solid #fff;
	border-radius:5px;
 }
 .listdiv .navlist ul li{
	line-height:30px;
	border-bottom:1px solid #ddd;
	text-align:center;
 }
 .listdiv .navlist ul li:last-child{
	border-bottom:0px;
 }
 .listdiv .navlist ul li span{
	margin-left:5px;
 }
 .triangle-up{   
	width:0;
	height:0;   
	border-left:10px solid transparent;   
	border-right:10px solid transparent;   
	border-bottom:10px solid #fff;
	position:absolute;
	top:-10px;
	left:40%;
  }
  
  /*list页面*/
  .list{
	background-color:#fff;
 }
 .list ul{
	margin:0 10px;
 }
 .list ul li{
	height:60px;
	line-height:60px;
	border-bottom:1px solid #ccc;
	position:relative;
 }
 .list ul li a{
	color:#666;
	font-size:1.6rem;
	margin-left:3.4rem;
 }
 .list ul li .left{
	margin:0px 5px;
	font-size:3rem;
	position:absolute;
	top:0px;
	left:0px;
 }
 .list ul li a span{
	margin:0px 10px;	
 }
 .list ul li a .right{
	float:right;
 }
  
.navlist ul li a{
    font-size:14px;
}
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}
/*/PowerPlat/FormXml/zh-CN/StdContract/Win_View_IncomeContract.htm*/
.clearfix {
	zoom: 1;
}