<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="PowerControl" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="XCode.ShowSQL" value="true" />
    <add key="Power.CloseLog" value="true" />

    <add key="CurrentScene" value="Company" />
    <add key="LocalPath" value="/PowerPlat/PowerPlan/maps/" />
    <add key="AbsolutePath" value="e:\workspace\PowerPMS\trunk\src\Power.PMS\Power.PMS\PowerPlat\PowerPlan\maps\" />
    <add key="EngineAddress" value="127.0.0.1" />
    <add key="EnginePort" value="1088" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpCookies httpOnlyCookies="true" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RouteModule" type="Power.PMS.PowerPlat.RouteModule" />
    </modules>
    <handlers>
      <!--<add name="WebHandle" verb="*" path="*.html" type="Power.Web.PowerPlat.WebHandle,Power.Web" />-->
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-woff" />
      <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
    </staticContent>
  </system.webServer>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <PowerControl>
    <add key="WebCenter" value="Power.Controls.PMS.WebCenterControl, Power.Controls" />
    <add key="Resource" value="Power.Controls.PMS.ResourceControl, Power.Controls" />
    <add key="Form" value="Power.Controls.PMS.FormControl, Power.Controls" />
    <add key="WorkFlow" value="Power.Controls.PMS.WorkFlowControl, Power.Controls" />
    <add key="Account" value="Power.Controls.PMS.AccountControl, Power.Controls" />
    <add key="Right" value="Power.Controls.PMS.RightControl, Power.Controls" />
    <add key="API" value="Power.Controls.PMS.APIControl, Power.Controls" />
    <add key="Sync" value="Power.Controls.PMS.SyncControl, Power.Controls" />
    <add key="Search" value="Power.Controls.PMS.SearchControl, Power.Controls" />
    <!--消息查看-->
    <add key="Message" value="Power.Controls.PMS.MessageControl, Power.Controls" />
    <add key="Data" value="Power.Controls.PMS.DataControl, Power.Controls" />
    <add key="Weixin" value="Power.Controls.PMS.WeixinControl, Power.Controls" />
    <add key="Construct" value="Power.Controls.PMS.StdConstructControl, Power.Controls" />
    <add key="APPAccount" value="Power.APPControl.Control.APPAccount,Power.APPControl" />
    <add key="DataSet" value="Power.Controls.PMS.DataSetControl, Power.Controls" />
    <add key="OSS" value="Power.Controls.PMS.OSSAddFile, Power.Controls" />
    <add key="YRPM" value="YRPMControls.YRPMControl,YRPMControls" />
    <add key="YRPMNC" value="Power.YR.Control.ProjectControl,Power.YR.Control" />
    <add key="xlxreport" value="Power.YR.Control.ReportControl, Power.YR.Control" />
    <add key="APPTask" value="Power.APPControl.Control.APPStdTask,Power.APPControl" />
    <add key="StdAPPQS" value="Power.APPControl.StdAPPQS.StdAPPQSControl,Power.APPControl.StdAPPQS" />
    <add key="Edoc" value="Power.Controls.PMS.EdocUploadApi, Power.Controls" />
    <add key="PageOffice" value="Power.Controls.PageOffice.PageOfficeControl,Power.Controls.PageOffice" />
    <add key="Hoter" value="Power.Controls.Weixin.Hoter, Power.Controls.Weixin" />
    <add key="Mobile" value="Power.Controls.StdMobile.MobileControl, Power.Controls.StdMobile" />
    <add key="RabbitMQ" value="Power.Controls.RabbitMQ.RabbitMQControl,Power.Controls.RabbitMQ" />
    <add key="MQFile" value="Power.Controls.Files.PMS.RabbitMQControl, Power.Controls.Files" />
    <add key="License" value="Power.Controls.License.LicenseControl, Power.Controls.License" />
    <add key="UploadFle" value="Power.Controls.Files.PMS.UploadFle, Power.Controls.Files" />
    <add key="Plan" value="Power.Controls.StdPlan.PlanControl, Power.Controls.StdPlan" />
    <add key="Market" value="Power.Controls.StdMarket.MarketControl, Power.Controls.StdMarket" />
    <add key="Bid" value="Power.Controls.StdBid.StdBidControl, Power.Controls.StdBid" />
    <add key="Purchase" value="Power.Controls.StdPurchase.StdPurchaseControl, Power.Controls.StdPurchase" />
    <add key="Initiation" value="Power.Controls.StdInitiation.StdInitiationControl, Power.Controls.StdInitiation" />
    <add key="Contract" value="Power.Controls.StdContract.StdContractControl, Power.Controls.StdContract" />
    <add key="Quality" value="Power.Controls.StdQuality.StdQualityControl, Power.Controls.StdQuality" />
    <add key="HSE" value="Power.Controls.StdHSE.StdHSEControl, Power.Controls.StdHSE" />
    <add key="Cost" value="Power.Controls.StdCost.StdCostControl, Power.Controls.StdCost" />
    <add key="Communicate" value="Power.Controls.StdCommunicate.StdCommunicateControl, Power.Controls.StdCommunicate" />
    <add key="Design" value="Power.Controls.StdDesign.StdDesignControl, Power.Controls.StdDesign" />
    <add key="Portal" value="Power.Controls.StdPortal.StdPortalControl, Power.Controls.StdPortal" />
    <add key="BIM" value="Power.Controls.StdBIM.StdBIMControl, Power.Controls.StdBIM" />
    <add key="BlueEarth" value="Power.Controls.Blueearth.BlueearthControl, Power.Controls.Blueearth" />
    <add key="Document" value="Power.Controls.StdDocument.StdDocumentControl, Power.Controls.StdDocument" />
  </PowerControl>
</configuration>