<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="PowerControl" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CurrentScene" value="ZDelta" />
    <add key="XCode.ShowSQL" value="true" />
    <add key="Power.CloseLog" value="true" />
    <add key="XCode.AutoCheckField" value="false" />
    <add key="AsyncData" value="" />
    <add key="HostUrl" value="http://127.0.0.1:7623" />
    <add key="LocalPath" value="/PowerPlat/PowerPlan/maps/" />
    <add key="AbsolutePath" value="e:\workspace\PowerPMS\trunk\src\Power.PMS\Power.PMS\PowerPlat\PowerPlan\maps\" />
    <add key="EngineAddress" value="127.0.0.1" />
    <add key="EnginePort" value="1088" />
    <add key="Power.DeptHumanType" value="basedata" />
    <add key="Power.JavascriptSave" value="1" />
    <!--进度服务端地址-->
    <add key="ServerDBString" value="@MDsCxMjDcuMEC4wFLjEG7MTHI3LIjAuJMC4KxL0L9SQM0w7NWkROlbHPRhUQE1TRO1pSEZWTx0YUVBNVUw=W=" />
    <!--进度计算接口地址-->
    <add key="ScheduleCalculateUrl" value="http://localhost:7613/ShowGanttGrid.aspx" />
    <add key="BlueEarthUrl" value="http://192.168.0.183:3000/BlueearthWebService.asmx" />
    <add key="BlueEarthEnterUrl" value="http://dev.p3china.com:3000/" />
    <add key="BlueEarthFileDownload" value="http://192.168.0.82:9508" />
    <add key="FuLong3DAIR" value="http://dev.p3china.com:8060/AIR/" />
    <add key="weixin_APIUrl" value="https://qyapi.weixin.qq.com" />
    <add key="weixin_CorpID" value="wxde11d0d70698bcab" />
    <add key="weixin_CropSecret" value="8nFD3hFq-L57hDWwD8aU7RhMiH9lLJJNkW6AeOnW-s0" />
    <add key="OACASUrl" value="http://login2.ebs.krdev.gdhwater.com/ticket.htm?ticket={Ticket}" />
    <!--全文件检索网站url-->
    <add key="FileSearchWebUrl" value="http://127.0.0.1:7629" />
    <!--全文件检索文件路径-->
    <add key="FileAbsolutePath" value="D:\FTP\FTP_ZDelta_Oracle" />
    <!--BIMGIS Sms Url-->
    <add key="BIMGISSmsUrl" value="http://zsj.guangdongwater.com:9082/TCSMSWS/WS/soap" />
    <!--BIMGIS Sms UserName-->
    <add key="BIMGISSmsUserName" value="PMIS" />
    <!--BIMGIS Sms Password-->
    <add key="BIMGISSmsPassword" value="WdwW46!@WSdg" />
    <!--BIMGIS Sms 短信模板Id-->
    <add key="BIMGISSmsTplId" value="620876" />
    <!--对比检接口地址-->
    <add key="ContrastInspUrl" value="http://120.79.103.55:8049" />
  </appSettings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation targetFramework="4.0">
    </compilation>
    <httpRuntime maxRequestLength="40960" executionTimeout="36000" requestValidationMode="2.0" />
    <httpCookies httpOnlyCookies="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RouteModule" type="Power.PMS.PowerPlat.RouteModule" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" name="ASPxHttpHandlerModule" path="DX.ashx" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <mimeMap fileExtension=".shp" mimeType="application/directx" />
      <mimeMap fileExtension=".dbf" mimeType="application/directx" />
      <mimeMap fileExtension=".shx" mimeType="application/directx" />
      <mimeMap fileExtension=".kml" mimeType="text/xml" />
      <mimeMap fileExtension=".rvt" mimeType="application/directx" />
      <mimeMap fileExtension=".properties" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".bcmap" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="font/x-font-woff" />
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BlueearthWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.225:2000/BlueearthWebService.asmx" binding="basicHttpBinding" bindingConfiguration="BlueearthWebServiceSoap" contract="ServiceReference1.BlueearthWebServiceSoap" name="BlueearthWebServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <PowerControl>
    <add key="WebCenter" value="Power.Controls.PMS.WebCenterControl, Power.Controls" />
    <add key="Resource" value="Power.Controls.PMS.ResourceControl, Power.Controls" />
    <add key="Form" value="Power.Controls.PMS.FormControl, Power.Controls" />
    <add key="WorkFlow" value="Power.Controls.PMS.WorkFlowControl, Power.Controls" />
    <add key="Account" value="Power.Controls.PMS.AccountControl, Power.Controls" />
    <add key="Right" value="Power.Controls.PMS.RightControl, Power.Controls" />
    <add key="API" value="Power.Controls.PMS.APIControl, Power.Controls" />
    <add key="Sync" value="Power.Controls.PMS.SyncControl, Power.Controls" />
    <add key="Search" value="Power.Controls.PMS.SearchControl, Power.Controls" />
    <add key="Data" value="Power.Controls.PMS.DataControl, Power.Controls" />
    <!--消息查看-->
    <add key="Message" value="Power.Controls.PMS.MessageControl, Power.Controls" />
    <!--微信控制器-->
    <add key="Weixin" value="Power.Controls.Weixin.WeixinControl, Power.Controls.Weixin" />
    <!--门户管理控制器-->
    <add key="OSS" value="Power.Controls.PMS.OSSAddFile, Power.Controls" />
    <add key="UploadFle" value="Power.Controls.PMS.UploadFle, Power.Controls" />
    <add key="SaveFileAndPath" value="Power.Controls.PMS.SaveFileAndPath, Power.Controls" />
    <add key="ZDelta_Portal" value="Power.ZDelta.Controls.PortalCenter, Power.ZDelta.Controls" />
    <!--APP控制器-->
    <add key="APPAccount" value="Power.APPControl.Control.APPAccount,Power.APPControl" />
    <add key="APPTask" value="Power.APPControl.Control.APPStdTask,Power.APPControl" />
    <!--数据集控制器-->
    <add key="DataSet" value="Power.Controls.PMS.DataSetControl, Power.Controls" />
    <add key="Edoc" value="Power.Controls.PMS.EdocUploadApi, Power.Controls" />
    <add key="PageOffice" value="Power.Controls.PageOffice.PageOfficeControl,Power.Controls.PageOffice" />
    <add key="Hoter" value="Power.Controls.Weixin.Hoter, Power.Controls.Weixin" />
    <add key="ZDelta_SyncData" value="Power.ZDelta.Controls.SyncData, Power.ZDelta.Controls" />
    <add key="Mobile" value="Power.Controls.StdMobile.MobileControl,Power.Controls.StdMobile" />
    <add key="ZDelta_Kingdee" value="Power.ZDelta.Controls.Kingdee, Power.ZDelta.Controls" />
    <add key="ZDelta_BIMGISSms" value="Power.ZDelta.Controls.BIMGISSms, Power.ZDelta.Controls" />
    <add key="ZDelta_Common" value="Power.ZDelta.Controls.ZDeltaCommon, Power.ZDelta.Controls" />
    <add key="ZDelta_Job" value="Power.ZDelta.Controls.ZDeltaJob, Power.ZDelta.Controls" />
    <add key="ZDelta_Report" value="Power.ZDelta.Controls.ZDeltaReport, Power.ZDelta.Controls" />
    <add key="ZDelta_Mobile" value="Power.ZDelta.Controls.MobileApi, Power.ZDelta.Controls" />
    <add key="ZDelta_Plan" value="Power.ZDelta.Controls.ZDeltaPlan, Power.ZDelta.Controls" />
    <add key="ZDelta_ContrastInsp" value="Power.ZDelta.Controls.ContrastInsp, Power.ZDelta.Controls" />
    <!--转PDF控制器-->
    <add key="ToPdf" value="Power.Controls.ToPdf.ToPdfControl,Power.Controls.ToPdf" />
    <add key="Plan" value="Power.Controls.StdPlan.PlanControl, Power.Controls.StdPlan" />
    <add key="QualityCheck" value="Power.Controls.StdQualityCheck.StdQualityCheckControl, Power.Controls.StdQualityCheck" />
    <add key="PlanAPP" value="Power.Controls.StdPlanAPP.PlanSearchController, Power.Controls.StdPlanAPP" />
  </PowerControl>
  <devExpress>
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <errors callbackErrorRedirectUrl="" />
    <settings rightToLeft="false" doctypeMode="Html5" embedRequiredClientLibraries="true" ieCompatibilityVersion="edge" />
  </devExpress>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 3188C668-7FC6-449E-B7FE-B071AB6C3AE0-->