@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
html{
	font-size:10px; 
	font-family: "微软雅黑";
}
body{ 
	margin:0 auto;
	max-width:640px; 
	min-width:320px;
	overflow: hidden ;
}
.form{
	padding: 0 10px !important ;
}
ul,li{ 
	list-style:none;
}
img,hr{
	border:0;
}
a{ 
	text-decoration:none;
	color:#000;
}
.clr {
	clear:both;
	height:0px;
}
.header{ 
	background:#fff; 
	position:fixed;
	top:0px;left:0px;
	width:100%;
	height:60px;
	z-index:11;
}
.head_top{ 
	height:50px; 
	background-size:100%; 
	text-align:center; 
	line-height:50px;
	margin:5px 0px;
}
.head_top span{ 
	float:right; 
	color:#0074e1;
	width:40px; 
	height:50px; 
	font-size:2rem;
}
.chats li .message .body {
	word-break: break-all;
	font-size: 14px;
}
.slideBox{ 
	position:relative; 
	overflow:hidden; 
	margin:0px auto; 
	max-width:100%;/* 设置焦点图最大宽度 */ 
}
.slideBox .hd1{ 
	position:absolute;
	height:28px; 
	line-height:28px; 
	bottom:0; 
	text-align:center; 
	width:100%;  
	z-index:1;
}
.navlist ul li a{
    font-size:14px;
}
.slideBox .hd1 li{
	display:inline-block;
	width:8px; 
	height:8px;
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	border-radius:5px;
	background:#b8b8b8; 
	text-indent:-9999px; 
	overflow:hidden;
	margin:0 6px;   
}
.slideBox .hd1 li.on{
	background:#fff;  
}
.slideBox .bd1{ 
	position:relative; 
	z-index:0; 
}
.slideBox .bd1 li{
	position:relative; 
	text-align:center; 
}
.slideBox .bd1 li img{
	vertical-align:top; 
	width:100%;/* 图片宽度100%，达到自适应效果 */
}
.slideBox .bd1 li a{ 
	-webkit-tap-highlight-color:rgba(0,0,0,0); 
}

.slideBox1{ 
	position:relative; 
	overflow:hidden;
	margin:0px auto;  
	max-width:100%; 
	padding-bottom:27px;/* 设置焦点图最大宽度 */ 
}
.slideBox1 .hd2{ 
	position:absolute;
	height:28px; 
	line-height:28px; 
	bottom:0px; 
	text-align:center; 
	width:100%; 
	background-color:#e9e9e9;
	z-index:1; 
}
.slideBox1 .hd2 li{ 
	display:inline-block; 
	width:8px;
	height:8px; 
	-webkit-border-radius:5px;
	-moz-border-radius:5px; 
	border-radius:5px; 
	background:#333; 
	text-indent:-9999px; 
	overflow:hidden; 
	margin:0 6px;   
}
.slideBox1 .hd2 li.on{
	background:#2f8ce3; 
}
.slideBox1 .bd2{ 
	position:relative; z-index:0; 
}
.slideBox1 .bd2 li{ 
	position:relative;
	text-align:center; 
}
.slideBox1 .bd2 .nav{
	width:100%;
	height:160px; 
	background-color:#ffffff;
}
.slideBox1 .bd2 .nav-1,.slideBox1 .bd2 .nav-2{
	width:100%;
	display:box; 
	height:80px;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
}
.slideBox1 .bd2 .nav-1{
	border-bottom:1px solid #dedede;
}
.slideBox1 .bd2 .nav .item{
	width:25%;
	float:left;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	border-right:1px solid #dedede;
	display:box; 
	box-sizing:border-box; 
	font-size:1.4rem; 
	text-align:center;
	height:80px; 
	line-height:30px;
	vertical-align:middle;
	padding-top:10px;
	color:#6c6c6c;
}
.slideBox1 .bd2 .nav .item .icon{
	display:block;
	font-size:2.5rem; 
}
.slideBox1 .bd2 .nav .item .a{
	color:#07a39b;
}
.slideBox1 .bd2 .nav .item .b{
	color:#468ed1;
}
.slideBox1 .bd2 .nav .item .c{
	color:#69b03c;
}
.slideBox1 .bd2 .nav .item .d{
	color:#ffb21e;
}
.slideBox1 .bd2 .nav .item .e{
	color:#ffad11;
}
.slideBox1 .bd2 .nav .item .f{
	color:#50beb9;
}
.slideBox1 .bd2 .nav .item .g{
	color:#d52516;
}
.slideBox1 .bd2 .nav .item .h{
	color:#ef6653;
}

section{
	margin:0 10px;
}
section ul li{ 
	line-height:30px;
	height:30px;
}
section ul li a{
	/*font-size:1.4rem; */
}
section ul li .dot{
	width:8px; 
	height:8px; 
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px; 
	background-color:#f85255;
	display:inline-block;
	margin:0 5px;
}
section ul li .time{
	float:right; 
	font-size:1.2rem; 
	color:#666;
}

.footer{ 
	width:100%; 
	display:box;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
	border-top:1px solid #ddd;
	background-color:#fff; 
	position:fixed;
	left:0px; 
	bottom:0px; 
	width:100%; 
	display:block;
	box-sizing:border-box;
	height:60px;
	line-height:25px;
	padding-top:8px;
} 
.footer .item{
	width:20%;
	float:left;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	display:box; 
	box-sizing:border-box; 
	font-size:1.4rem; 
	text-align:center;
	height:60px; 
	line-height:25px;
	color:#9b9b9b;
}
.footer .item .icon{
	display:block;
	font-size:2rem; 
}
.footer .active{
	color:#0074e1;
}
#tagcomment .portlet-body .chat-form{
	bottom: 0 !important ;
}
.mini-buttonedit-icon{
	display: none;
}
.contract-unit-list>li p {
	margin: 0;
}
.contract-unit-list li .contract-nameValue .eidt-input-box {
	text-align: right;
	border: 1px solid transparent;
}
.contract-unit-list>li {
	line-height: 45px;
	height: 50px;
	border-bottom:1px solid #EFEFEF;
}
.contract-unit-list>li.box-height {
	height: 250px;
}
.contract-unit-list>li.box-height .mini-textarea .mini-textbox-input {
	background-color: #fafafa;
	height:170px !important ;
	width:100%;
	border-radius: 10px;
	padding-left: 5px;
	padding-top: 5px;
}
.contract-unit-list>li.box-height .text-box{
	text-align: center ;
	width: 100%;
}
.contract-unit-list>li.box-height .text-box .contract-nameValue{
	width: 100%;
}

.listfile {
	background-color: #fff;
}

.listfile .buttonlist {
	width: 100%;
	display: box;
	height: 40px;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	text-align: center;
	background-color: #fafafa;
	position: fixed;
	bottom: 0px;
	left: 0px;
	border-top: 1px solid #ddd;
	z-index: 10;
	margin: auto;
}

.listfile .buttonlist .button {
	/*margin: 5px 0px;*/
	width: 29%;
	float: left;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	border-right: 1px solid #ddd;
	display: box;
	box-sizing: border-box;
	font-size: 1.4rem;
	text-align: center;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.listfile .buttonlist .button.review{
	display: inline;
	float: left;
	margin: 2px 0px;
	width: 33%;
	height: auto;
	line-height: 47px;
	border-right: 0;
}
.listfile .buttonlist .button.review a{
	border: 1px solid #07a39b;
	color: #07a39b;
	padding: 3px 8px 3px 6px;
	border-radius: 5px;
}
.listfile .buttonlist .button.save{
	float: right;
}
.listfile .buttonlist .button a {
	color: #666;
}
.button-focus > a{
	background-color: #07a39b !important ;
	color:#fff !important ;
}
.listfile .buttonlist .button span {
	margin-left: 3px;
	font-size: 15px;
	margin-bottom: 2px;
}

.listfile .buttonlist1{
	width:100%;
	display:box; 
	height:50px;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
	text-align:center;
	background-color:#ffffff;
	position:fixed;
	top:0px;
	left:0px;
	border-bottom:1px solid #ddd;
	z-index:12;
	display:none;
}
.listfile .buttonlist1 .button{
	margin:5px 0px;
	width:50%;
	float:left;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	border-right:1px solid #ddd; 
	display:box;
	box-sizing:border-box;
	font-size:1.4rem;
	text-align:center;
	height:40px;
	line-height:40px;
	vertical-align:middle;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;     
}
.listfile .buttonlist1 .button a{
	color:#666;
}
.listfile .buttonlist1 .ok a{
    color:red;
}
.listfile .buttonlist1 .button span{
	margin-left:3px;
}
#wrapper{
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	overflow-x: auto;
}
#scroller{
	z-index: 1;
	width: 2400px;
	height: 40px;
}
.listfile .buttonlist #buttonBox{
	width: 12%;
	border-right: 0;

}
.listfile .buttonlist #buttonBox span:last-child
{
	margin-bottom: 10px !important ;
	margin-left: 0;
}
#tablist {
	width: 100%;
	height: 100%;
	margin-top: 40px;
}

#ul1 {
height: 40px;
width: 200%;
display: box;
background-color: #fff;
color: #666;
/*position: fixed ;*/
top: 0;
left: 0px;
	border-bottom: 1px solid #ddd;
-webkit-box-orient: horizontal;
-moz-box-orient: horizontal;
box-orient: horizontal;
}

#ul1 li {
	display: inline-block;
	width:17% !important ;
	height: 40px;
	line-height: 14px;
	float: left;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	/*width: 33.33%;*/
	font-size: 1.4rem;
	text-align: center;
}

#ul1 li i {
	font-size: 1.4rem;
	display: none;
}
#ul1 li span{
	font-size: 14px;
}

#ul1 li.active {
	background-color:#fff;
	color: #24affb;
	border-bottom: 2px solid #24affb;
}

#tablist section table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 55px;
}

#tablist section table td {
border: 1px solid #ddd;
line-height: 25px;
font-size: 1.4rem;
height: 35px;
color: #000;
padding-left: 5px;
}

#tablist div table td input {
	width: 95%;
	height: 23px;
	margin: 5px 0px;
	border: 1px solid #ccc;
}


.show {
	display: block;
	margin: 40px 5px;
}

.hide {
	display: none;
}

.listdiv {
	position: fixed;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1000;
}

.listdiv .navbg {
	filter: alpha(opacity=30);
	-moz-opacity: 0.5;
	opacity: 0.5;
	background-color: #000;
	width: 100%;
	height: 100%;
}

.listdiv .navlist {
	display: block;
	background-color: #fff;
	width: 120px;
	position: absolute;
	bottom: 63px;
	right: 5px;
	border: 1px solid #fff;
	border-radius: 5px;
}

.listdiv .navlist ul li {
	line-height: 30px;
	border-bottom: 1px solid #ddd;
	width: 100%;
	text-indent: 8px;
}

.listdiv .navlist ul li:last-child {
	border: 0px;
}

.listdiv .navlist ul li span {
	margin-left: 5px;
}

.triangle-up {
	width: 0;
	height: 0;
	border-top:10px solid #fff;
	position: absolute;
	bottom: -10px;
	left: 40%;
}
.mini-textbox-input{
	color: #9a9a9a;
	font-size: 15px;
	text-align: right;
	padding-right: 5px;
	float: right ;
}
.mini-textbox-input, .mini-buttonedit-input{
	font-size:1.4rem;
}
.contract-unit-list li .contract-name, .contract-unit-list li .contract-nameValue {
	font-size: 13px;
}
.contract-unit-list li .contract-nameValue {
	float: right;
	color: #9A9A9A;
}
.mini-textbox-border{
	border: 1px solid transparent ;
}
body .mini-textbox-focus .mini-textbox-border,
.mini-buttonedit-border:hover,
.mini-textbox-border:hover,
.mini-textbox-border:hover{
	border-color: transparent ;
}
.contract-nameValue .mini-buttonedit .mini-buttonedit-border .mini-buttonedit-input{
	background-color: #fff !important ;
	border-color: transparent !important ;
	padding-right: 5px;
}

.mini-textbox textarea{
	text-align: left ;
}
.mini-buttonedit-input{
	color: #9a9a9a;
	font-size: 13px;
}

.mini-buttonedit-input{
	text-align: right ;
	float: right;
}
body .mini-textbox-focus .mini-textbox-input {
	color: #9a9a9a;
}
.mini-required .mini-textbox-border, .mini-required .mini-buttonedit-border{
	background-color: #fff;
}
.mini-textbox-border, .mini-buttonedit-border{
	border-color: #fff ;
	border: 1px solid #fff;
}
.mini-buttonedit-border, .mini-textbox-border{
	background-color: #fff;
}
.mini-textbox-readOnly .mini-textbox-border:hover, .mini-buttonedit-readOnly .mini-buttonedit-border:hover{
	border-color: #fff ;
}
.mini-buttonedit-border:hover, .mini-textbox-border:hover, .mini-textbox-border:hover{
	border-color: #fff ;
}


.mini-buttonedit-focus .mini-buttornedit-boder{
	border-color: #fff;
}
.mini-buttonedit-focus .mini-buttonedit-border, .mini-buttonedit-popup .mini-buttonedit-border{
	border-color: #fff;
}
ul li .contract-nameValue .mini-buttonedit-readOnly .mini-buttonedit-border .mini-buttonedit-input{
	background-color: #fafafa !important ;
}
.mini-textarea .mini-textbox-input{
	width: 210px;
}

.mini-buttonedit-input{
	text-align: right ;
	float: right;
}
#tablist section table td {
	padding: 0px 5px;
	font-size: 14px;
}
#FileAttach{
    font-size:1.4rem;
}

.fileleft {
    float: left;
    width: 100%;
    overflow: hidden;
    display: block;
     word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.accessory {
    float: left;
    width: 75%;
    overflow: hidden;
    display: block;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fileright{
    float:right;
}
#FileAttach li{
    height: 45px;
    line-height: 45px;
    border-bottom: 1px dashed #ddd;
}
.adddiv{
	position:absolute;
	top:0;
	left:0;
	background-color:#fff;
	width:100%;
	height:100%;
	overflow:scroll;
	z-index:100;
	display:none;
}
.adddiv .selectbutton{
	position:fixed;
	top:0;
	left:0;
	background-color:#fff;
	width:100%;
	line-height:50px;
	text-align:center;
	height:50px;
	border-bottom:1px solid #ddd;
}
.adddiv .selectbutton a {
    display:block;
	float:left;
    width:50%;
    font-size: 1.4rem;
	color: #07a39b;
}
.adddiv .selectbutton .ok{
	background-color: #07a39b;
    color: #fff;
	border-bottom-color:#07a39b;
}
.adddiv section{
	margin-top:55px;
}
.adddiv section table {
	width: 100%;
	border-collapse: collapse;
}

.adddiv section table td {
border: 1px solid #ddd;
line-height: 25px;
font-size: 1.4rem;
height: 35px;
color: #000;
padding-left: 5px;
}

.adddiv div table td input {
	width: 95%;
	height: 23px;
	margin: 5px 0px;
	border: 1px solid #ccc;
} 
 .datalist {
	margin:0 10px; 
 }
 .datalist  li{
	height:60px;
	line-height:60px;
	border-bottom:1px solid #ccc;
 }
 .datalist  li div{
	color:#666;
	font-size:1.4rem;
	line-height:25px;
	float:left;
	width:90%;
	margin:5px 0px;
 }
  .datalist  li div p{
	  width:100%;
	  padding-left:5px;
	  margin:0px;
  }
  .datalist  li div .title{
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	color:#000;
  }
  .datalist  li div .group{
	display:box; 
	font-size:1.2rem;
	color:#666;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
  }
  .datalist  li div .group span{
	width:33%;
	height:25px;
	display:block;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	text-indent:4px;
	float:left;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
 }
 .datalist  li .left{
	font-size:3rem;
	width:8%;
	float:left;
	text-align:center;
 }
 .datalist  li .left input{
	 display:none;
 }
 .datalist  li .right{
	float:right;
	width:2%;
 }
         div.tagsinput span.tag {
            padding: 1px;
            background: #ffb848;
            color: white;
            border-color: #ffb848;
            border-right-width: 6px;
        }

            div.tagsinput span.tag a {
                color: white;
            }

        div.tagsinput input {
            padding: 1px;
        }

        .chats li {
            font-size: 14px;
        }
			 
            .chats li .name {
                font-size: 12px;
            }
            #comment ul li{
                height:auto;
                line-height:auto;
            }
			
			/*附件列表在主页签显示,并且支持上传*/
#btnOpenFileDialog{
	width:100px;
	height:100px;
	text-align:center;
	line-height:100px;
	margin-top: 15px;
	margin-left: 5px;
	border: 1px dashed #eaeaea !important;
	background:#eaeaea;
	border-radius: 5px; 
	padding:0px !important;
	
}			
#btnOpenFileDialog .plus-sign{
	font-size: 80px;
	display: block;	
	color:#ddd;
}
.fileselector{
	min-height:100px;
	padding-top:5px;
	padding-top:5px;
	width:100%;
	margin-left: 5px;
	
}
.filebox-filelist li{
	height:100px;
	float: left;
	margin-top: 10px;
	font-size:12px;
	padding: 5px;
}
.filebox-flename{
			
}

.filebox-image{
	width:100px;
	height:100px;
	text-align:center;
	display:inline-block;
	/*border:1px solid #ddd;*/
	background:#ddd;
	position: relative;
}
.filebox-image img{
	max-height:100px;	 
}
.filebox-image i{
	width:100px;
	max-height:100px;
	color:#69d0fe;
}
.filebox-image .fa.fa-file{
	font-size: 100px;
	color:#69d0fe;
}
 #imgagepreview {
            position: fixed;
            top: 0px;
            width: 100%;
            height: 100%;
            background: #ddd;
            z-index: 2000;
        }
 
 /*附件*/
  		.pb-container{
			  position: fixed !important;
		  }
        .row-fluid{
            margin-bottom: 15px;
        }
        .portlet.box.blue > .portlet-title{
            background-color: #fff !important;
        }
        .portlet > .portlet-title{
            border-bottom:1px dashed #ddd !important;
        }
        .portlet.box.blue{
            min-height: 300px !important;
			height: auto;
            margin-top: 15px;
        }
        .portlet.box.blue{
            border: 1px solid #ddd !important;
        }
        .portlet > .portlet-title > .tools > a{
            padding:5px;
            font-size: 16px;
            color:#ddd;
        }
		 .portlet.blue > .portlet-title > .caption{
            padding-top: 3px;
            color:#333 !important;
            font-size: 18px !important;
        }
		.row-fluid .plus-sign{
           margin-left: -10px;
           font-size: 80px;
           display: block ;
           margin-top:-42px;
           color:#ddd;
       }
       .pb-button{
           color:#7cb9ff;
           margin-top: 8px;
           padding:17px !important;
           font-size: 18px !important;
           height:55px !important;
       }

	    /*评论*/
       .input-group-btn {
           text-align:right !important;
       }
        .mini-fit{
            margin-bottom: 114px;
        }
.portlet-title>.tools>a i{
	    font-size: 24px;
    	color: #333;
}
 .fileleft>.remove-button-icon{
	position: absolute;
    margin-left: -24px;
	display: none;
 }
 .selected-remove-button-icon{
	position: absolute;
    margin-left: -24px;
	font-size: 24px;
	color:#2b93d2;
	display: none
 }
 .selected-remove-button-icon i{

 }
 .fileleft>.remove-button-icon>i{
	font-size: 24px;
	color:#777;
}
.identify-cancel-box{
	margin-top: 2px;
}
.identify-cancel-box {
	display: none;
}
.identify-cancel-box span{
	font-size: 16px;
	padding-left: 10px;
	/*display: none;*/
} 

 .clearfix:after {
        content: "\0020";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
    }

    .clearfix {
        zoom: 1;
    }
.icon_img {
	width: 15px;
	height: 15px;
	position: relative;
	top: 4px;}
.action_icon {
	display: inline-block;
	line-height: 40px;
}
.reject_icon{
	background: url(/Weixin/img/record.png) no-repeat center;
	background-size: contain;
}
.review_icon{
	background: url(/Weixin/img/review.png) no-repeat center;
	background-size: contain;
}
.save_icon{
	background: url(/Weixin/img/save.png) no-repeat center;
	background-size: contain;
}
.consent_icon{
	background: url(/Weixin/img/consent.png) no-repeat center;
	background-size: contain;
}
.reject_icon{
	background: url(/Weixin/img/reject.png) no-repeat center;
	background-size: contain;
}
.more_icon{
	background: url(/Weixin/img/more.png) no-repeat center;
	background-size: contain;
}
.arrow-icon_up {
	display: block;
	margin: 0 auto !important ;
	width: 10px;
	height: 10px;
	background: url(/Weixin/img/unfurled.png) no-repeat center;
	background-size: contain;

}
.arrow-icon_down{
	display: block;
	margin: 0 auto !important ;
	width: 10px;
	height: 10px;
	background: url(/Weixin/img/Pack.png) no-repeat center;
	background-size: contain;

}
.sub-lists{
	position: fixed;
	bottom: 50px;
	right: 10px;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
}
.sub-lists .button-lists {
	border: 1px solid #ddd;
	padding: 0 10px;
	border-radius: 5px;
	background: #fafafa;
}
.sub-lists .button-lists li {
	border-bottom: 1px solid #ddd;
	padding: 0 15px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #666;
}

/*******************遮罩层*****************/
.maskLayer {
	position: absolute;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}
.popUp {
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: none;
}

.popUp .pop-content {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 100;
}

.pop-content .pop {
	height: 80%;
	width: 80%;
	position: absolute;
	top: 60% !important;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 101;
}

.pop .items-content {
	height: 75%;
	background-color: #ffffff;
	font-size: 14px;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 3px 18px rgba(0, 0, 0, .5);
}

.v-line-fff {
	background: none;
	color: #fff;
	text-align: center;
	height: 40px;
}

.v-line-fff span {
	display: block;
	height: 100%;
	width: 0;
	border-left: 1px solid #fff;
	margin: 0 auto;
}

.x-btn-footer {
	text-align: center;
}

.x-btn-footer img {
	width: 25px;
	height: 25px;
}

.left_float {
	float: left;
}

.right_float {
	float: right;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
}

.details-process-box {
	overflow-y: auto;
}

.message-project-unit .unit-header {
	position: relative;
	line-height: 28px;
	height: 28px;
}

.unit-header .warn-button {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	position: absolute;
	left: 5px;
	top: 5px;
}

.danger {
	background: red!important;
}

.default {
	background: #0894ec!important;
}


/* 滚动条整体部分
定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸
*/

.scroll::-webkit-scrollbar {
	width: 0;
	height: 0;
	background-color: #F5F5F5;
}


/* 滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
定义滑块 内阴影+圆角
*/

.scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}


/* 滚动条的轨道（里面装有Thumb）
定义滚动条轨道 内阴影+圆角
*/

.scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}


/* 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。 */

.scroll::-webkit-scrollbar-button {}


/* 内层轨道，滚动条中间部分（除去） */

.scroll::-webkit-scrollbar-track-piece {}


/* 边角，即两个滚动条的交汇处 */

.scroll::-webkit-scrollbar-corner {}


/* 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件 */

.scroll::-webkit-resizer {}

.unit-header .time-content {
	padding: 0 0 0 35px;
	color: #888;
	font-size: 12px;
}

.unit-header .agree-reject-buttom {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
	color: #9F9F9F;
}

.unit-body .unit-item-msg {
	padding-left: 14px;
}

.unit-body .message-content {
	margin: 5px 0;
	padding: 0 10px 0 20px;
	text-align: justify;
	border-left: 1px solid #D5D5D5;
}

.message-project-unit:last-child .unit-body .message-content {
	border-left: 1px solid #fff;
}

.unit-body .message-content>p {
	line-height: 25px;
	font-size: 14px;
	color: #232323;
}
.unit-body .message-content>p .name_related{
	width: 140px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.item-content .item-content-msg {
	padding: 0 10px;
	color: #232323;
}

.item-content .item-content-msg>p {
	font-size: 16px;
	padding: 5px 0;
	text-indent: 2em;
	margin: 0.5em 0;
	text-align: justify;
	letter-spacing: 0;
	line-height: 24px;
	overflow: hidden;
}

.main-footer-bars .action_icon {
	display: inline-block;
	line-height: 40px;
}

.main-footer-bars .icon_img {
	width: 15px;
	height: 15px;
	position: relative;
	top: 4px;
}

.flow_Record_icon {
	background: url("/Weixin/img/record.png") no-repeat center;
	background-size: contain;
}
.flow_review_icon {
	background: url("/Weixin/img/review.png") no-repeat center;
	background-size: contain;
}
.flow_save_icon {
	background: url("/Weixin/img/save.png") no-repeat center;
	background-size: contain;
}
.agree_icon {
	background: url("/Weixin/img/consent.png") no-repeat center;
	background-size: contain;
}

.reject_icon {
	background: url("/Weixin/img/reject.png") no-repeat center;
	background-size: contain;
}








/* 滚动条整体部分
定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸
*/

.scroll::-webkit-scrollbar {
	width: 0;
	height: 0;
	background-color: #F5F5F5;
}


/* 滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
定义滑块 内阴影+圆角
*/

.scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}


/* 滚动条的轨道（里面装有Thumb）
定义滚动条轨道 内阴影+圆角
*/

.scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}


/* 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。 */

.scroll::-webkit-scrollbar-button {}


/* 内层轨道，滚动条中间部分（除去） */

.scroll::-webkit-scrollbar-track-piece {}


/* 边角，即两个滚动条的交汇处 */

.scroll::-webkit-scrollbar-corner {}


/* 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件 */

.scroll::-webkit-resizer {}


























