@charset "utf-8";
/* CSS Document */ 
        body {
            background-color: #f4f4f4;
        }

        .search .searchbutton {
            width: 100%;
            display: box;
            padding: 8px 0px;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            box-orient: horizontal;
            text-align: center;
            background-color: #07a39b;
            position: fixed;
            top: 0px;
            left: 0px;
            border-bottom: 1px solid #ddd;
            z-index: 10;
            color: #fff;
            font-size: 2rem;
        }

            .search .searchbutton input {
                height: 30px;
                width: 60%;
                border: 1px solid #fff;
                border-radius: 5px;
                text-indent: 5px;
                font-size: 1.4rem;
            }
            .search .searchbutton a{
                line-height: 30px;
                margin-left:10px;
                color:#fff;
                font-size: 1.6rem;
            }


        .search ul {
            margin: 0 10px;
            margin-top: 60px;
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 5px;
        }

            .search ul li {
                height: 60px;
                line-height: 60px;
                border-bottom: 1px solid #ccc;
            }

                .search ul li div {
                    color: #666;
                    font-size: 1.4rem;
                    line-height: 25px;
                    float: left;
                    width: 90%;
                    padding: 5px 0px;
                }

                    .search ul li div p {
                        width: 100%;
                        padding-left: 5px;
                        margin: 0px;
                    }

                    .search ul li div .title {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #000;
                        text-indent: 5px;
                    }

                    .search ul li div .group {
                        display: box;
                        font-size: 1.2rem;
                        color: #666;
                        -webkit-box-orient: horizontal;
                        -moz-box-orient: horizontal;
                        box-orient: horizontal;
                    }

                        .search ul li div .group span {
                            width: 33%;
                            height: 25px;
                            display: block;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-indent: 4px;
                            float: left;
                            -webkit-box-flex: 1;
                            -moz-box-flex: 1;
                            box-flex: 1;
                        }

                .search ul li .left {
                    font-size: 3rem;
                    width: 8%;
                    float: left;
                    text-align: center;
                }

                    .search ul li .left input {
                    }

                .search ul li .right {
                    float: right;
                    width: 2%;
                }
        .searchfootbutton {
            margin-top: 15px;
            text-align: center;
        }

            .searchfootbutton a {
                display: inline-block;
                padding: 8px 10px;
                margin: 10px;
                border-radius: 5px;
                color: #fff;
                font-size: 1.4rem;
                background-color: #4b8df8;
                border: 1px solid #4b8df8;
            }

            .searchfootbutton #ok {
                color: #fff;
                background-color: #f00;
                border: 1px solid #f00;
            }
         